<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Game</title>
    {% load static %}

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="static/app/img/favicons/favicon.png"> -->


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="stylesheet" crossorigin="anonymous"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==">
    <link href="{% static 'app/css/theme.css' %}" rel="stylesheet" />
    <link href="{% static 'app/vendors/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        main {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
    </style>
</head>

<body class="text-center">

    <main>
        <div class="flex-center d-flex mb-4">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            </div>
        </div>

        <div class="flex-center d-flex mb-4">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary m-1">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary m-1">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary m-1">View</button>
            </div>
        </div>
        <div class="flex-center d-flex mb-4">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            </div>
        </div>
        <div class="flex-center d-flex mb-4">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            </div>
        </div>
    </main>





</body>
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'app/vendors/@popperjs/popper.min.js' %}"></script>
<script src="{% static 'app/vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'app/vendors/is/is.min.js' %}"></script>
<script src="{% static 'app/vendors/swiper/swiper-bundle.min.js' %}"></script>
<link rel="preconnect" href="https://fonts.gstatic/app.com">
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet">
<script src="{% static 'app/js/theme.js' %}"></script>

<link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&amp;display=swap"
    rel="stylesheet">
</body>

</html>



<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Game</title>
    {% load static %}

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="static/app/img/favicons/favicon.png"> -->


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="stylesheet" crossorigin="anonymous"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==">
    <link href="{% static 'app/css/theme.css' %}" rel="stylesheet" />
    <link href="{% static 'app/vendors/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

</head>


<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <nav class="navbar navbar-light sticky-top" data-navbar-darken-on-scroll="900">
            <div class="container pt-2"><a class="navbar-brand" href="index.html"> <img
                        src="{% static 'app/img/zoom.png' %}" alt="..." /></a>
                <div class="navbar-nav ms-auto">
                    <button class="btn btn-secondary">Login</button>
                </div>
            </div>
        </nav>
        <div class="container ">
            <div class="flex-center d-flex">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
            </div>

            <div class="flex-center d-flex">

                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>

            </div>


            <section>
                <!-- <div class="flex-center d-flex">
                    <div class="col-md-6">
                        
                        <div class="flex-center d-flex">pile 0:1</div>
                        <div class="row">
                            <div class="col">
                                <div class="flex-center d-flex">pile 1:1</div>
                            </div>
                            <div class="col">
                                <div class="flex-center d-flex">pile 1:2</div>
                            </div>
                            <div class="col">
                                <div class="flex-center d-flex">pile 1:3</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="flex-center d-flex">pile 2:1</div>
                            </div>
                            <div class="col">
                                <div class="flex-center d-flex">pile 2:2</div>
                            </div>
                            <div class="col">
                                <div class="flex-center d-flex">pile 2:3</div>
                            </div>
                            <div class="col">
                                <div class="flex-center d-flex">pile 2:4</div>
                            </div>
                            <div class="col">
                                <div class="flex-center d-flex">pile 2:5</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="flex-center d-flex">pile 3:1</div>
                            </div>
                            <div class="col">
                                <div class="flex-center d-flex">pile 3:2</div>
                            </div>
                            <div class="col">
                                <div class="flex-center d-flex">pile 3:3</div>
                            </div>
                            <div class="col">
                                <div class="flex-center d-flex">pile 3:4</div>
                            </div>
                            <div class="col">
                                <div class="flex-center d-flex">pile 3:5</div>
                            </div>
                            <div class="col">
                                <div class="flex-center d-flex">pile 3:6</div>
                            </div>
                            <div class="col">
                                <div class="flex-center d-flex">pile 3:7</div>
                            </div>
                        </div>

                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="col">
                    <span class="p-5 border-5 rounded-circle border border-primary"></span>            
                </div> -->
                <!-- <div class="col">
                    <span class="p-5 border-5 rounded-circle border border-secondary"></span>
                </div> -->
                <!-- <div class="col">
                    <span class="p-5 border-5 rounded-circle border border-success"></span>
                </div>
                <div class="col">
                    <span class="p-5 border-5 rounded-circle border border-danger"></span>
                </div>
                <div class="col">
                    <span class="p-5 border-5 rounded-circle border border-warning"></span>
                </div>
                <div class="col">
                    <span class="p-5 border-5 rounded-circle border border-info"></span>
                </div>
                <div class="col">
                    <span class="p-5 border-5 rounded-circle border border-light"></span>
                </div>
                <div class="col">
                    <span class="p-5 border-5 rounded-circle border border-white"></span>
                </div> -->

        </div>
        </section>

        </div>

    </main>



</body>

<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'app/vendors/@popperjs/popper.min.js' %}"></script>
<script src="{% static 'app/vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'app/vendors/is/is.min.js' %}"></script>
<script src="{% static 'app/vendors/swiper/swiper-bundle.min.js' %}"></script>
<link rel="preconnect" href="https://fonts.gstatic/app.com">
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet">
<script src="{% static 'app/js/theme.js' %}"></script>

<link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&amp;display=swap"
    rel="stylesheet">
</body>

</html>



<!-- ................................. -->
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Game</title>
    {% load static %}

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="static/app/img/favicons/favicon.png"> -->


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="stylesheet" crossorigin="anonymous"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==">
    <link href="{% static 'app/css/theme.css' %}" rel="stylesheet" />
    <link href="{% static 'app/vendors/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        main {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
    </style>
</head>

<body class="text-center">

    <main>

        <div class="flex-center d-flex mb-3 p-1">
            <div class="btn-group">
                <button type="button" id="b1" class="btn btn-sm btn-outline-secondary m-1 rounded-circle"
                    style="width: 50px;height: 50px;">1</button>
            </div>
        </div>

        <div class="flex-center d-flex mb-3 p-1">
            <div class="btn-group">
                <button type="button" id="b2" class="btn btn-sm btn-outline-secondary m-1 rounded-circle"
                    style="width: 50px;height: 50px;">3</button>
                <button type="button" id="b3" class="btn btn-sm btn-outline-secondary m-1 rounded-circle"
                    style="width: 50px;height: 50px;">2</button>
                <button type="button" id="b4" class="btn btn-sm btn-outline-secondary m-1 rounded-circle"
                    style="width: 50px;height: 50px;">1</button>
            </div>
        </div>

        <div class="flex-center d-flex mb-3 p-1">
            <div class="btn-group">
                <button type="button" id="b5" class="btn btn-sm btn-outline-secondary m-1 rounded-circle"
                    style="width: 50px;height: 50px;">5</button>
                <button type="button" id="b6" class="btn btn-sm btn-outline-secondary m-1 rounded-circle"
                    style="width: 50px;height: 50px;">4</button>
                <button type="button" id="b7" class="btn btn-sm btn-outline-secondary m-1 rounded-circle"
                    style="width: 50px;height: 50px;">3</button>
                <button type="button" id="b8" class="btn btn-sm btn-outline-secondary m-1 rounded-circle"
                    style="width: 50px;height: 50px;">2</button>
                <button type="button" id="b9" class="btn btn-sm btn-outline-secondary m-1 rounded-circle"
                    style="width: 50px;height: 50px;">1</button>
            </div>
        </div>

        <div class="flex-center d-flex mb-3 p-1">
            <div class="btn-group">
                <button type="button" id="b10" class="btn btn-sm btn-outline-secondary m-1 rounded-circle"
                    style="width: 50px;height: 50px;">7</button>
                <button type="button" id="b11" class="btn btn-sm btn-outline-secondary m-1 rounded-circle"
                    style="width: 50px;height: 50px;">6</button>
                <button type="button" id="b12" class="btn btn-sm btn-outline-secondary m-1 rounded-circle"
                    style="width: 50px;height: 50px;">5</button>
                <button type="button" id="b13" class="btn btn-sm btn-outline-secondary m-1 rounded-circle"
                    style="width: 50px;height: 50px;">4</button>
                <button type="button" id="b14" class="btn btn-sm btn-outline-secondary m-1 rounded-circle"
                    style="width: 50px;height: 50px;">3</button>
                <button type="button" id="b15" class="btn btn-sm btn-outline-secondary m-1 rounded-circle"
                    style="width: 50px;height: 50px;">2</button>
                <button type="button" id="b16" class="btn btn-sm btn-outline-secondary m-1 rounded-circle"
                    style="width: 50px;height: 50px;">1</button>
            </div>
        </div>

    </main>


</body>
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'app/vendors/@popperjs/popper.min.js' %}"></script>
<script src="{% static 'app/vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'app/vendors/is/is.min.js' %}"></script>
<script src="{% static 'app/vendors/swiper/swiper-bundle.min.js' %}"></script>
<link rel="preconnect" href="https://fonts.gstatic/app.com">
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet">
<script src="{% static 'app/js/theme.js' %}"></script>
<!-- <script src="{% static 'app/js/app.js' %}"></script> -->
<script>
    // Wait for page to load
    document.addEventListener('DOMContentLoaded', () => {
        const selectObject = (object) => {
            return document.querySelector(object);
        }
        console.log("Loaded...");
        selectObject("#b1").style.background = 'green';
        selectObject("#b2").style.background = 'green';
        selectObject("#b3").style.background = 'green';
        selectObject("#b4").style.background = 'green';
    })
</script>
<link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&amp;display=swap"
    rel="stylesheet">
</body>

</html>